page-about {
  .contenedor{
    padding-top: 0 !important;
  }
  .campo {
    font-weight: bold;
    color: #4b873e;
  }
  .negrita {
    font-weight: bold;
  }
  .precio {
    font-size: 17px;
  }
  .fecha{
    font-size: 14px;
  }
  .iconColorOut{
    color: #ffb805;
  }
  .iconColorIn{
    color: #4b873e;
  }
  .descripcion{
    font-weight: bold;
    font-size: 12px;
    color: #b2b2b2;
  }
  .descripcionText{
    font-size: 12px;
  }
  //.nopadding {
  //  padding: 5px 0 0 5px !important;
  //}
}
