<ion-header>
  <ion-navbar>
    <ion-title>
      INFORMES
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of lista">
    <ion-card-content class="contenedor">
      <ion-row>
        <ion-col><label class="campo">Ingreso:</label></ion-col>
        <ion-col text-right><label class="fecha">{{item.fechaHoraInicio}}</label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><label class="campo">Entrega: </label></ion-col>
        <ion-col text-right><label class="fecha">{{item.fechaHoraEntrega}}</label></ion-col>
      </ion-row>
      <!--CUERPO CARD-->
      <hr>
      <ion-row>
        <ion-col><label class="campo">Estado: </label><label>{{item.estadoId}}</label></ion-col>
        <ion-col text-right><label class="negrita precio">{{item.precio}}</label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1><ion-icon name="locate" class="iconColorOut"></ion-icon></ion-col>
        <ion-col col-11><label>{{item.direccionSalida}}</label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1><ion-icon name="locate" class="iconColorIn"></ion-icon></ion-col>
        <ion-col col-11><label>{{item.direccionEntrega}}</label></ion-col>
      </ion-row>
      <!--FOOTER DEL CARD DESCRIPCION-->
      <hr>
      <ion-row>
        <ion-col><label class="descripcion">Descripción: </label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><label class="descripcionText negrita"> Tipo:</label></ion-col>
        <ion-col><label class="descripcionText">{{item.tipoServicioId}}</label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><label class="descripcionText negrita">Colaborador:</label></ion-col>
        <ion-col><label class="descripcionText"> {{item.colaboradorId}}</label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><label class="descripcionText negrita">Cliente:</label></ion-col>
        <ion-col><label class="descripcionText">{{item.clienteId}}</label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><label class="descripcionText negrita">Especificaciones:</label></ion-col>
      </ion-row>
      <ion-col class="descripcionText">{{item.especificaciones}}</ion-col>
    </ion-card-content>
  </ion-card>
</ion-content>
