<ion-header>
  <ion-navbar>
    <ion-title>PerfilPage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-1>
      <ion-icon name="paper-plane" class="iconLeft"></ion-icon>
    </ion-col>
    <ion-col col-10><span>Activación de KM reales</span></ion-col>
    <ion-col col-1 text-right>
      <ion-icon name="checkmark" class="iconRight"></ion-icon>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row>
    <ion-col col-12 text-left>
      <small class="subtitle">PUNTUACIÓN DE EXCELENCIA</small>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-1>
      <ion-icon name="star-outline" class="iconLeft"></ion-icon>
    </ion-col>
    <ion-col col-10><span class="price">52</span></ion-col>
    <ion-col col-1 text-right>
      <ion-icon name="help" class="iconRight"></ion-icon>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row>
    <ion-col col-12 text-left>
      <small class="subtitle">AUTO ACEPTACIÓN</small>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-1>
      <ion-icon name="cog" class="iconLeft"></ion-icon>
    </ion-col>
    <ion-col col-9><span>Auto aceptar órdenes</span> <br>
      <small class="subtitle"> No hay auto-asignación de pedidos en los 10 minutos finales de un turno.</small>
    </ion-col>
    <ion-col col-2 text-right>
      <ion-toggle></ion-toggle>
    </ion-col>
  </ion-row>
  <hr>
  <ion-list>
    <button  class="nopadding" ion-item *ngFor="let item of items" (click)="siguientePag(item)" icon-start>
      <ion-icon [name]=" item.icon" [ngStyle]="{'color': item.color}" item-start></ion-icon>
      {{ item.title }}
      <ion-icon [name]=" item.flecha" [ngStyle]="{'color': item.flechacolor}" item-end></ion-icon>
    </button>
    <input type="hidden">
  </ion-list>
  <ion-row>
    <ion-col col-12 text-center><span>Cerrar sesión</span></ion-col>
  </ion-row>

</ion-content>
