page-perfil {
  .iconLeft{
    font-size: 25px !important;
    color: #b2b2b2;
  }
  .iconRight{
    font-size: 25px;
    color: #4b873e;
  }
  .nopadding{
    padding: 0 !important;
  }
  .subtitle{
    color: #b2b2b2;
  }
  .price{
    font-weight: bold;
    font-size: 25px;
  }
  .letters{
    font-size: 16px;
  }

}
