<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-stepper #stepper mode="horizontal">
    <ion-step label="home" description="Step1 description">
      <span class="texto">Ir al punto de recogida</span>
      <div #map id="map" col-12></div>
      <ion-row>
        <div col-8>
          <button ion-button round class="boton" small ionicStepperNext>Estoy en la Tienda</button>
        </div>
        <div text-right col-4>
          <button ion-button round class="btncircular" small ionicStepperPrevious>?</button>
        </div>
      </ion-row>
    </ion-step>
    <ion-step label="office" description="Step1 description">
      <span class="texto">Ir al punto de recogida</span>
      <div #map id="map2" col-12></div>
      <ion-row>
        <div col-8>
          <button ion-button round class="boton" small ionicStepperNext="">Voy en camino</button>
        </div>
        <div text-right col-4>
          <button ion-button round class="btncircular" small ionicStepperPrevious>?</button>
        </div>
      </ion-row>
    </ion-step>
    <ion-step label="school" description="Step1 description">
      <span class="texto">Ir al punto de recogida</span>
      <div #map id="map3" col-12></div>
      <ion-row>
        <div col-8>
          <button ion-button round class="boton" small ionicStepperNext="">Llego en 10 min</button>
        </div>
        <div text-right col-4>
          <button ion-button round class="btncircular" small ionicStepperPrevious>?</button>
        </div>
      </ion-row>
    </ion-step>
    <ion-step label="work" description="Step1 description">
      <span class="texto">Ir al punto de recogida</span>
      <div #map id="map4" col-12></div>
      <div>
        <button ion-button round class="boton btn btn-danger" small ionicStepperPrevious="">AYUDA</button>
      </div>
    </ion-step>
  </ion-stepper>
</ion-content>

