page-home {
  //.ionic-stepper-horizontal-container{
  //  height: 100%;
  //}
  //ion-step{
  //  height: 100%;
  //}
  #map {
    height: 100%;
    position: relative !important;
  }

  #map2{
    height: 100%  !important;
    position: relative !important;
  }

  #map3{
    height: 100% !important;
    position: relative !important;
  }

  #map4{
    height: 100% !important;
    position: relative !important;
  }

  .btncircular {
    width: 36px;
    height: 33px;
    margin: 5px;
    padding: 10px;
    background-color: #ffc107;
  }
  .boton {
    background-color: #4b873e;
    margin-left: 10px !important;
  }
  .ionic-stepper-horizontal-container.ng-tns-c0-0.ng-star-inserted {
    height: 100%;
  }
  .ionic-stepper-horizontal-content-container.ng-tns-c0-0.ng-star-inserted {
    height: 100%;
  }
  .ionic-stepper-horizontal-content.ng-trigger.ng-trigger-horizontalStepTransition{
    height: 100%;
  }
  .ionic-vertical-content.ng-tns-c0-0.ng-star-inserted{
    height: 60vh;
    padding: 0 !important;
  }
  .ionic-stepper-horizontal-content-container.ng-tns-c0-0.ionic-stepper-vertical-line.ng-star-inserted{
    height: auto;
  }
  .texto{
    padding-left: 10px;
  }
}

